<html lang="zh-cn" style="user-select: none;">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="user-scalable=no, width=375px, initial-scale=0.96, minimum-scale=0.96, maximum-scale=0.96">
    <script>
        document.documentElement.style.webkitUserSelect = 'none';
        document.documentElement.style.webkitTouchCallout = "none";
    </script>
    <meta name="format-detection" content="telephone=no">
    <title>请符</title>
    <link href="/static/css/global.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/fu.css">
</head>

<body>
<div class="container">
    <div class="block">
        <img data-i="0" src="/static/images/nop_1.png" class="fu1">
        <img data-i="1" src="/static/images/nop_2.png" class="fu1">
        <img data-i="2" src="/static/images/nop_3.png" class="fu1">
    </div>
    <div class="block">
        <img data-i="3" src="/static/images/nop_4.png" class="fu1">
        <img data-i="4" src="/static/images/nop_5.png" class="fu1">
        <img data-i="5" src="/static/images/nop_6.png" class="fu1">
    </div>
    <div class="block">
        <img data-i="6" src="/static/images/nop_7.png" class="fu1">
        <img data-i="7" src="/static/images/nop_8.png" class="fu1">
        <img data-i="8" src="/static/images/nop_9.png" class="fu1">
    </div>
    <div class="block">
        <img data-i="9" src="/static/images/nop_10.png" class="fu1">
        <img data-i="10" src="/static/images/nop_11.png" class="fu1">
        <img data-i="11" src="/static/images/nop_12.png" class="fu1">
    </div>
</div>
<script src="/static/js/zepto.min.js"></script>
<script src="/static/js/lazy.js"></script>
<script src="/static/js/app.min.js"></script>
<script type="text/javascript" src="/static/js/pingpp.js"></script>
<script src="/static/js/action/fu.js"></script>
</body>

</html>